@import 'node_modules/bootstrap/scss/_functions';
@import '../../../scss/customVariables';
.footer {
    width: 100%;
    margin:0;
    padding:0;
    display: flex;
    justify-content: center;
    background: linear-gradient(90deg,
      rgba($light ,0.8) 30%, 
      rgba($primary,0.8) 90%
    );
    @include phone{
        background: #b308b3;
    }
    .logo{
        img{
            width:35vw;
        }
        @include phone{
            display:none;
        }
    }
    .contact{
        padding:2rem 3rem;
        @include phoneandtablet{
            padding:1rem 1rem;
        }
        color:$dark;
        @include phone{
            color:$light;
        }
        a{
            color:$dark;
            text-decoration: none;
            &:hover{
                color:white;
            }
            @include phone{
                color:$light;
            }
        }
        .qrcode{
            img{
                width:10rem;
                height:10rem;
            }
        }
    }
}