<footer class="footer text-light" id="footer">
    <div class="container">
        <div class="row">
            <div class="logo d-none d-md-block col-md-5">
                <img src="../../../assets/images/logo-nobg.png" alt="">
            </div>
            <div class="qrcode d-none d-md-block col-md-3 p-3 justify-content-end">
                <img src="../../../assets/images/WeChat.jpg" alt="">
            </div>
            <div class="contact col-md-4 p-3">
                <h4>紫水晶风水咨询 (殷女士)</h4>
                <p>E-mail: <a href="mailto:amethystfs891@gmail.com">amethystfs891@gmail.com</a></p>
                <p>Facebook：<a href="https://www.facebook.com/Amethystfs891">https://www.facebook.com/Amethystfs891</a></p>
                <p>微信：Amythyst891</p>
                <p>&copy; 版权所有 禁止转载</p>
            </div>
        </div>
    </div>
</footer>