<footer class="footer" id="footer">
    <div class="logo">
        <img src="../../../assets/images/logo-nobg.png" alt="">
    </div>
    <div class="contact">
        <h4>紫水晶风水咨询 (殷女士)</h4>
        <p>E-mail: <a href="mailto:amethystfs891@gmail.com">amethystfs891@gmail.com</a></p>
        <p>Facebook：<a href="https://www.facebook.com/Amethystfs891">https://www.facebook.com/Amethystfs891</a></p>
        <p>微信：Amythyst891</p>
            
        <div class="qrcode d-none d-md-block col-md-3 p-3 justify-content-end">
            <img src="../../../assets/images/WeChatcode.jpg" alt="">
        </div>
        <p>&copy; 版权所有 禁止转载</p>
        <div class="admin">
            <a href="#" class="nav-link">{{ loggedInUser }}</a>
            <a href="#" routerLink="/cn/add-post" class="nav-link">新建文章</a>
            <a href="#" (click)="onLogoutClick()" class="nav-link">登出</a>
        </div>
                
    </div>
</footer>