<footer class="footer text-light">
    <div class="container">
        <div class="row">
            <div class="logo col-md-6">
                <img src="../../../assets/images/logo-nobg.png" alt="">
            </div>
            <div class="col-md-6 p-3">
                <h4>Lorem, ipsum dolor </h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident architecto adipisci rerum ullam. Asperiores fuga, veritatis, ipsa sapiente odit blanditiis laudantium, quis hic voluptates voluptatibus similique repellendus aliquid a atque!</p>
                <p>&copy; 版权所有 禁止转载</p>
            </div>
        </div>
    </div>
</footer>