<div class="contact">
        <div class="column">
            <i class="fa fa-envelope" aria-hidden="true"></i> amethystfs891@gmail.com
        </div>
        |
        <div class="column">
                <i class="fa fa-weixin" aria-hidden="true"></i> amythyst891
        </div>
        |
        <div class="column">
            <i class="fa fa-facebook" aria-hidden="true"></i>
        </div>
        <div class="column">
            <i class="fa fa-twitter" aria-hidden="true"></i>
        </div>
        <div class="column">
            <i class="fa fa-pinterest-p" aria-hidden="true"></i>
        </div>

</div>
<nav class="navbar">
    <div class="container">
    <span class="open-slide">
        <a  (click)="toggleSlideMenu()">
            <svg width="30" height="30">
                <path d="M0,5 30,5" stroke="#529675" stroke-width="5"/>
                <path d="M0,14 30,14" stroke="#529675" stroke-width="5"/>
                <path d="M0,23 30,23" stroke="#529675" stroke-width="5"/>
            </svg>
        </a>
    </span>
    <a class="navbar-brand" routerLink="/cn"><img src="../../../assets/images/logo-only.jpg" alt="logo"><span class="brand-name">紫水晶风水咨询</span></a>
  <div >
    <ul class="navbar-nav" [ngClass]="{'sidebar-open': sidebar === true }">    
        <a  class="btn-close" (click)="toggleSlideMenu()">&times;</a>
        <li class="nav-item"><a routerLink="/cn/aboutme" (click)="toggleSlideMenu()" class="nav-link">关于我</a></li>
        <li class="nav-item"><a routerLink="/cn/introduction" (click)="toggleSlideMenu()" class="nav-link">关于风水</a></li>
        <li class="nav-item"><a routerLink="/cn/posts" (click)="toggleSlideMenu()" class="nav-link">往期博文</a></li>
        <li class="nav-item"><a routerLink="/cn/consulting" (click)="toggleSlideMenu()" class="nav-link">服务内容</a></li>
        <li class="nav-item"><a routerLink="/cn/baziform" (click)="toggleSlideMenu()" class="nav-link">八字测算</a></li>
        <li class="nav-item"><a [ngx-scroll-to]="'#footer'" (click)="toggleSlideMenu()" class="nav-link">联系我们</a></li>
    </ul>
    </div></div>
</nav>