<div class="container">
  <p class="display-4 text-info">关于风水</p>
  <p class="h3 text-info my-5">
      风水是什么?
  </p>
  <p class="lead my-5">
      风水是一门源于中国古代生活环境智慧。主要是研究生活地理环境,经过精密计算后,以经验和数千年时间验证,分析万物对人体的磁场交感相应,从而生起凶吉祸福,财禄夭寿。
  </p>
  
  <p class="h3 text-info my-5">
      风水如何存在?
  </p>
  <p class="lead my-5">
      星体带动天气,山川影响风向,温度分割地带,水源滋生万物。大自然一切,各有各自的能量与磁场。
  </p>
  <p class="h3 text-info my-5">
      风水包含了什么?
  </p>
  <p class="lead my-5">
      地理位置的环境,包括:山脉的走向,泥土的质量,水源的流向,气流的速度,空气的湿度与浅薄,光线的阴暗,气味与颜色对人体感官上影响,各种磁场的能量,以及星体的远近对人体影响。总概况,风水是一门包含地理、天文、数理、建筑、气流、磁场、以及心理学等综合因素的生活智慧。
  </p>
  <p class="h3 text-info my-5">
      风水对我生活上影响?
  </p>
  <p class="lead my-5">
      健康是一切的本钱,而风水能影响人体的健康。好的风水布局,能产生适合人体的磁场能量,令人情绪平和,心身舒服,自然正能量上升,生活、工作、人际关系都能获得提升。差的风水,主要影响人神经情绪,容易低落或亢奋,长时间后会导致人体疲劳,工作能力会下降,人际关系受影响。严重会扰人安康,病厄不断。
  </p>
  <p class="h3 text-info my-5">
      风水对我公司商业影响?
  </p>
  <p class="lead my-5">
      “天时、地利、人和”乃营商之本,好的风水格局,能助你一臂之力。天地万物,各有其运气。当地地运旺,能带动人脉。当地水路趋势,乃财而来之象。结合周边建筑设计,与路面走势,能藏风聚气的者,求功名利禄,必纷来沓至。而开门位置为纳气口,如建于当时旺向,必食定当地旺运,大取得人心而得其财。
  </p>
  <p class="lead my-5">
      又普通商业风水,只需要旺地旺向则能成于始,立于本,即使不大富大贵,也能安居乐业。但大型的商化企业,必须要遇风水“煞气”并与其争斗。如遇“煞气”不懂化解,“煞气”会其企业吞噬,另企业经历大败涂地。如能运用风水斗赢其“煞气”,必将“煞气”收为己用,成为一名良将,助你攻破其他竞争对手,独占行业中鳖头。  
  </p>
  <p class="lead my-5">
      风水在商业战争中,“煞气”好比“外敌”或“小人”。如对方比自己强,争斗时自身会处于劣势,但如自身能力比对方强,则可制住它,引导它化敌为友,为你效命,成为良将帮你攻打商业帝国。与商业原理相似,当同时发生利益竞争与冲突,要么合作,双方互利。要么,只能留存其一。 
  </p>
  <p class="h3 text-info my-5">
      什么是子平八字?
  </p>
  <p class="lead my-5">
      子平八字是一门中国占星命理学。从人的出生时间,记载当时天上各种星体的位置,而这些星体将来走向,奠定了人生命运机遇的基础。正如人生存于地球,离不开太阳与月亮。太阳与月亮的变化象征阳与阴,而四季春夏秋冬的变化象征四象,从而产生五种能量为五行来概况万物。  </p>
  <p class="lead my-5">
      八字好比喻一种能量符号,有先天记载的故事,为“命”。同时,人从出生时,已经固定在某一个时间空间中,人无法逆行时空或穿梭将来,这个时间点,为“运”。而生活不同的国家地点,为后天因素,影响此人的机遇变化。  </p>

  <p class="h3 text-info my-5">
      又知命有什么好处?
  </p>
  <p class="lead my-5">
      知命的目的,是为了知道先天给我的记号,先天有什么优缺点,优点加以强化开发利用,缺点加以改善,修行尽善尽美。  </p>
  <p class="lead my-5">
      知道什么时候运气最佳,借风使船事半功陪闯一番天地。运气不好时,以守为主谨慎进攻,免得损失花半生光阴攻打的江山。  </p>
  <p class="lead my-5">
      八字记号中,早已记载每个人先天身体的健康隐患,如能早知并正视其事,大大降低其情况恶化的后果。  </p>
</div>