
@import 'node_modules/bootstrap/scss/_functions';
@import '../../../scss/customVariables';
.container{
    text-align: center;
    position: relative;
    background: white;
    box-shadow: 1px 1px 3px #000;
    padding: 3rem 5rem;
    margin: 1rem auto;
    @include phoneandtablet{
        padding: 3rem 1rem;
    }
    h4{
        font-weight: bold;
        color:$primary;
    }
    .card{
        box-shadow: 1px 1px 3px #000;
        max-width:800px;
        margin: 3rem auto;
        padding: 3rem 1rem;
        display: flex;
        flex-direction: column;
        text-align: center;
        .form-group{
            margin:0.5rem 0;
            font-size: 130%;
            width:70%;
            @include phone {
                width: 90%;
            }
        }
        
    }
}