.card{
    min-height:80vh;
    margin:2rem 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    .form-group{
        margin:0.5rem 0;
        font-size: 130%;
        width:70%;
    }
    
  @media screen and (max-width: 500px) {
    .form-group{
        width:90%;
    }
  }
}