<div class="container" [hidden]="showresult">
  <h4>
    在线八字测算
  </h4>
  <h5 >
    输入出生日期，计算精确的生辰八字细节
  </h5 >
  <div class="card">
      <form (ngSubmit)="onSubmit()" #baziform="ngForm" >
          <mat-form-field class="form-group">
            <input matInput placeholder="出生地" name="birthplace"  [(ngModel)]="baziForm.birthplace" required >
          </mat-form-field>
          <!--mat-form-field class="form-group">
            <input matInput placeholder="出生地经度(-180 ~ 180)"  name="longitute1" type="number" min="-180" max="180" [(ngModel)]="baziForm.longitute1" #longitute1="ngModel" required>
          </mat-form-field-->
          <mat-form-field class="form-group">
              <input matInput [matDatepicker]="picker" placeholder="出生日期" (dateChange)="dateChange($event)" required>
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker touchUi #picker></mat-datepicker>
          </mat-form-field>
          <mat-form-field class="form-group">
              <mat-select placeholder="出生小时" [value]="baziForm.hour" (selectionChange)="hourChange($event)" required>
                  <mat-option value="0">0 点</mat-option>
                  <mat-option value="1">1 点</mat-option>
                  <mat-option value="2">2 点</mat-option>
                  <mat-option value="3">3 点</mat-option>
                  <mat-option value="4">4 点</mat-option>
                  <mat-option value="5">5 点</mat-option>
                  <mat-option value="6">6 点</mat-option>
                  <mat-option value="7">7 点</mat-option>
                  <mat-option value="8">8 点</mat-option>
                  <mat-option value="9">9 点</mat-option>
                  <mat-option value="10">10 点</mat-option>
                  <mat-option value="11">11 点</mat-option>
                  <mat-option value="12">12 点</mat-option>
                  <mat-option value="13">13 点</mat-option>
                  <mat-option value="14">14 点</mat-option>
                  <mat-option value="15">15 点</mat-option>
                  <mat-option value="16">16 点</mat-option>
                  <mat-option value="17">17 点</mat-option>
                  <mat-option value="18">18 点</mat-option>
                  <mat-option value="19">19 点</mat-option>
                  <mat-option value="20">20 点</mat-option>
                  <mat-option value="21">21 点</mat-option>
                  <mat-option value="22">22 点</mat-option>
                  <mat-option value="23">23 点</mat-option>
              </mat-select>
            </mat-form-field>
          
          <mat-form-field class="form-group">
              <mat-select placeholder="出生分钟" [value]="baziForm.min" (selectionChange)="minChange($event)" required>
                  <mat-option value="5">不知道</mat-option>
                  <mat-option value="5">0 ~ 10 分</mat-option>
                  <mat-option value="15">10 ~ 20  分</mat-option>
                  <mat-option value="25">20 ~ 30  分</mat-option>
                  <mat-option value="35">30 ~ 40  分</mat-option>
                  <mat-option value="45">40 ~ 50  分</mat-option>
                  <mat-option value="55">50 ~ 60  分</mat-option>
              </mat-select>
            </mat-form-field>
          <mat-form-field class="form-group">
            <mat-select placeholder="性别" [value]="baziForm.gender" (selectionChange)="genderChange($event)" required>
              <mat-option value="1">男</mat-option>
              <mat-option value="0">女</mat-option>
            </mat-select>
          </mat-form-field>

          <div>
              <!--input type="submit" value="提交" class="btn btn-primary"-->
              <button type="submit" *ngIf="!showloading" class="btn btn-primary" >
                  提交
              </button>
              <button *ngIf="showloading" class="btn btn-primary" >
                提交中。。。 <i class="fa fa-circle-o-notch fa-spin" style="font-size:24px"></i>
              </button>
          </div>
        </form>
  </div>
</div>

<app-baziresult [hidden]="!showresult" [result]="result"  (retry)="retry()"></app-baziresult>