<div class="container" *ngIf="post">
  <p class="display-4" id="title">
    {{post.title}}
  </p>
  <p>{{post.author}}</p>
  <small>{{post.createDate | date}}</small>
  
  <hr/>
    <div class="my-5" [froalaView]="post.content"></div>
  <hr/>
  <div class="my-2 clearfix">
      <a class="float-left" *ngIf="prevpost " routerLink="/post/{{prevpost.id}}" ><== {{prevpost.title}}</a>
      <a class="float-right" *ngIf=" nextpost" routerLink="/post/{{nextpost.id}}" >{{nextpost.title}} ==></a>
  </div>
  <hr/>

</div>