<div class="modal fade" id="weixin" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">紫水晶风水咨询</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          微信号：Amythyst891
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
        </div>
      </div>
    </div>
</div>
<main>
<section class="text-center text-dark landing-head">
  <div class="container">
        <div class="calendar">
          <div *ngIf="calendar">
            <div class="row">
              <div class="col-7 text-left p-3">
                <p class="h3">{{ DateToday.year }}</p>
                <p class="h4">{{ DateToday.month }}月
                </p>
              </div>
              <div class="col-5 text-center">
                <p class="display-2">{{ DateToday.date }}</p>
              </div>
            </div>
            <hr/>
            <div class="row">
              <div class="col-3"><p class="icontext bg-secondary text-white">农历</p></div>
              <div class="col-9"><p class="text-left">{{ calendar.lunarYear }} {{ calendar.lunar }}</p></div>
            </div>
            <div class="row">
              <div class="col-3"><p class="icontext bg-primary text-white">宜</p></div>
              <div class="col-9"><p class="text-left">{{ calendar.suit }}</p></div>
            </div>
            <div class="row">
              <div class="col-3"><p class="icontext bg-danger text-white">忌</p></div>
              <div class="col-9"><p class="text-left">{{ calendar.avoid }}</p></div>
            </div>
            <hr/>
            <!--a class="btn btn-white border border-primary" href="/today" ><i class="fa fa-align-left"></i> 更多详细</a-->
          </div>
          <div class="" *ngIf="!calendar">
            Loading
          </div>
      </div>
  </div>
</section>
<section class="landing-motto">
    <div class="container text-light text-kaiti text-right">
            <h3 >风水真的是迷信吗？如果能用科学的方法去印证风水，你相信吗？
                紫水晶风水咨询，就是用最科学的角度解析风水与命理。
            </h3>
            <h4 class="font-weight-light">
              ——殷绵
            </h4>
            <hr class="m-4" />
            <a class="btn btn-white btn-lg text-right border border-light" routerLink="/cn/introduction"><i class="fa fa-question-circle"></i> 何为风水</a>
    </div>
</section>

<!--div class="contact text-center p-3">
    <a data-toggle="modal" data-target="#weixin"><i class="fa-contact fa fa-weixin fa-3x text-center mx-4 text-info"></i></a >
    <a href="mailto:amethystfs891@gmail.com"><i class="fa-contact fa fa-envelope fa-3x text-center mx-4 text-info "></i></a>
    <a href="https://www.facebook.com/Amethystfs891"><i class="fa-contact fa fa-facebook fa-3x text-center  mx-4 text-info"></i></a>
</div-->
<section class="landing-intro">
    <div class="row">
        <div class="col-lg-4">
            <div class="card bg-light">
                <div class="card-image"><img src="../../../assets/images/noun_yin yang_584357.png" alt="fengshui"></div>
                <div class="card-text">
                    <h3 >
                        风水
                    </h3><hr/>
                    <p>星体带动天气,山川影响风向,温度分割地带,水源滋生万物。真正的风水与迷信无关，主要研究神秘的大自然及对人体产生的影响。</p>
                </div>
                
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card bg-secondary">
                <div class="card-image"><img src="../../../assets/images/noun_Face_1932375.png" alt="xiangxue"></div>
                <div class="card-text">
                <h3  >
                    相学
                </h3><hr/>
                <p>相学主要分为“观相”与“观心”。“观相”注重于皮囊，是一门集千年经验的总结，当中学习并没太大难度，常人专注认真皆可学之。“观心”则不同，常言“相如心生，相由心灭”，这话意思观人不止于皮骨，更注重是观人于内心、精神面貌。“人心不同，各如其相”，所有内心的善恶中奸，经过岁月的刻写，都能从其面相、行为中表露无遗。</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card bg-info">
                <div class="card-image"><img src="../../../assets/images/noun_Eye_585509.png" alt="mingli"></div>
                <div class="card-text">
                <h3>
                    命理
                </h3><hr/>
                <p>如将命理归纳于宿命迷信，更值得研究它是一套自然规律。“生、老、病、死”是万物皆有的规律，也是逃不过的规律，大至宇宙星体小至人体动物，无一例外，更无能去选择性“时间”与“空间”。在”规律”与“时空”的局限下，前人研究出了命理，里面记载人生高低起伏，福祸荣辱，富贵贫贱等……而解开命理的密码，则是其出生的时间与空间。</p>
              </div>
            </div>
        </div>
    </div>
              

</section>


  


</main>