<div class="container">
  <form *ngIf="post" (ngSubmit)="onSubmit()" class= "mt-5">
    <div class="form-group">
      <label class="display-4" for="title">Title</label>
      <input type="text" class="form-control form-control-lg" id="title" placeholder="Enter your title here" [(ngModel)]="post.title" name="title"/>
    </div>
    <div class="form-group">
      <label for="author">Author</label>
      <input type="text" class="form-control" id="author" placeholder="Enter your name here" [(ngModel)]="post.author" name="author"/>
    </div>

    <div class="form-group">
      <label for="createDate">Create Date</label>
      <input type="text" class="form-control" id="createDate" disabled value="{{post.createDate | date}}" name="createDate"/>
    </div>

    <div class="form-group">
      <label for="summary">Summary</label>
      <input type="text" class="form-control" id="summary" placeholder="Enter your name here" [(ngModel)]="post.summary" name="summary"/>
    </div>

        
    <div class="my-5" [froalaEditor]='options'  [(froalaModel)]="post.content"></div>
    
    <div class="d-flex  justify-content-around">
          <button type="button" (click)="togglePreview()" class="btn btn-success btn-block mr-5">{{showPreview?"关闭预览":"打开预览"}}</button>

          <button type="submit" class="btn btn-primary btn-block ml-5 my-0">提交</button>
    </div>
  </form>

  <hr/>
    <div class="my-5" *ngIf="showPreview"  [froalaView]="post.content"></div>
  <hr/>

  <!--div class="form-group">
      <label for="content">Contents</label>
      <textarea class="form-control" [(ngModel)]="post.content"  name="content"  id="content" ></textarea>
  </div-->
</div>