/* You can add global styles to this file, and also import other style files */
body, html{
    padding:0;
    margin:0;
    font-family:'Monospaced Number','Chinese Quote','-apple-system','BlinkMacSystemFont','Segoe UI','Roboto','PingFang SC','Hiragino Sans GB','Microsoft YaHei','Helvetica Neue','Helvetica','Arial','sans-serif';
}
.text-kaiti{
    font-family: STKaiti, "华文楷体","KaiTi", "楷体",Georgia, "Times New Roman",   serif;
  }
  .bg-ed{
    background: #ededed !important;
  }