<div class="container bg-light py-5">
  <div class="anchor-bar d-md-block">
      <nav class="nav flex-column">
        <a class="nav-link text-info active" href="/consulting#baziquanxiang">八字全相</a>
        <div class="dropdown-divider"></div>
        <a class="nav-link text-info " href="/consulting#liunianmingxiang">流年命相</a>
        <div class="dropdown-divider"></div>
        <a class="nav-link text-info " href="/consulting#zhuzhaifengshui">住宅风水 </a>
        <div class="dropdown-divider"></div>
        <a class="nav-link text-info " href="/consulting#shangyefengshui">商业风水 </a>
        <div class="dropdown-divider"></div>
        <a class="nav-link text-info " href="/consulting#fengshuiliunian">玄空飞星风水流年布局 </a>
        <div class="dropdown-divider"></div>
        <a class="nav-link text-info " href="/consulting#putongzeri">普通择日 </a>
        <div class="dropdown-divider"></div>
        <a class="nav-link text-info " href="/consulting#jiehunzeri">结婚择日 </a>
      </nav>
  </div>
  <div >
        
    <div id="baziquanxiang" class="mb-5">
      <p class="display-4 text-info">
          八字全相 <span class="text-danger h2">$200</span>
      </p>
      <p class="lead">八字全项就是将生成八字赛德夫和巴拉维u部分vui阿文</p>
      <h4>
          所需资料 
      </h4>
      <ul>
        <li>淮确八字(即出生、年、月、日、时。注明,新历或旧历。) </li>
        <li>全名与联系方式</li>
        <li>面部及双掌清晰彩色照片(如能提供更佳)  </li>
      </ul>
      <h4>
          分析内容
      </h4>
      <ul>
        <li>现场分析面相与手相。 </li>
        <li>分析大运,剖析终身运程。</li>
        <li>如何在大运中趋吉避凶? </li>
        <li>是否适宜投资创业? 何时创业最得利? 能否转换工作? </li>
        <li>个人与六亲关系如何?</li>
        <li>一生宜、忌颜色与方位。</li>
        <li>夫/妻、财运、子女、官禄、朋友、身体情况。</li>
        <li>桃花及姻缘。</li>
      </ul>
      <h4>
          须知事项
      </h4>
      <ul>
        <li>因八字全相是一套,必须有淮确的八字,以及本人的面相和手相,如缺少其中一项信息,难以提供服务。</li>
        <li>完成批命后,我会在一周内,以电邮回寄命盘文档副本。副本为中文。</li>
      </ul>
    </div>

    
    <div id="liunianmingxiang" class="mb-5">
      <p class="display-4 text-info">
          流年命相 <span class="text-danger h2">$90</span>
      </p>
      <p class="lead">流年命相就是将生成八字赛德夫和巴拉维u部分vui阿文</p>
      <h4>
          所需资料 
      </h4>
      <ul>
        <li>选用流年服务者必须曾经选用“八字全相”服务,并附上命盘的电邮副本。 </li>
        <li>准确八字(即出生年、月、日、时。注明,新历或旧历。)</li>
        <li>全面及双掌清晰彩色照片 (如能提供更佳)</li>
        <li>全名与联系方式</li>
      </ul>
      <h4>
          分析内容
      </h4>
      <ul>
        <li>流年命相分析。（例如:今年你运气如何?每个月运势如何?事业是攻还是守?应该注意什么?） </li>
      </ul>
      <h4>
          须知事项
      </h4>
      <ul>
        <li>完成批命后,我会在一周内,以电邮回寄命盘文档副本。副本为中文。</li>
      </ul>
    </div>

    
    <div id="zhuzhaifengshui" class="mb-5">
      <p class="display-4 text-info">
          住宅风水 <span class="text-danger h2">$368 起</span>
      </p>
      <p class="lead">住宅风水 就是将生成八字赛德夫和巴拉维u部分vui阿文</p>
      <h4>
          所需资料 
      </h4>
      <ul>
        <li>准确地址信息。 </li>
        <li>用户主人的ID证件照片。</li>
        <li>住宅的设计平面图,以及空间尺寸。平面图上请指出每个空间作用,以及每个家庭成员所居住空间位置。 </li>
        <li>户主及家中每个人的出生日期信息。</li>
        <li>户外相片(如能提供更佳)</li>
        <li>有关该住宅风水问题(如须特别关注,请列明。例如疾病、争吵、失眠等 ) 细节如下:
          <ul>
            <li>住宅永远布局</li>
            <li>住宅当年布局</li>
            <li>住宅来年布局</li>
          </ul>
        </li>
      </ul>
      <h4>
          分析内容
      </h4>
      <ul>
        <li>住宅风水分析。 </li>
      </ul>
      <h4>
          须知事项
      </h4>
      <ul>
        <li>电邮、微信回覆相关问题。两周以内,会邮寄该单位风水布局副本。</li>
        <li>本服务只回答与该单位风水布局相关问题,其他问题如个人命格运势、亲友前程 、其他单位风水等等,恕不作答。 </li>
        <li>由于风水堪舆涉及各种安全因素,请出示户主合法ID,资料我方会保密。</li>
        <li>(整体面积小于3000sq.ft)每超过3000sq.ft,以每600sq.ft以内,加收60计算,以此累计。</li>
      </ul>
    </div>

    <div id="shangyefengshui" class="mb-5">
        <p class="display-4 text-info">
            商业风水  <span class="text-danger h2">$428 起</span>
        </p>
        <p class="lead">住宅风水 就是将生成八字赛德夫和巴拉维u部分vui阿文</p>
        <h4>
            所需资料 
        </h4>
        <ul>
          <li>准确地址信息。 </li>
          <li>老板的ID 证件照片。</li>
          <li>公司的设计平面图 ,以及空间尺寸。平面图上请指出每个空间作用,以及各部门分配位置。  </li>
          <li>老板的八字。如多股东制,以最大股份为主。如能提供其他股东八字信息更佳。</li>
          <li>户外相片(如能提供更佳)</li>
          <li>有关该公司风水问题(如须特别关注,请列明。例如招财、员工离职频繁等)
            <ul>
              <li>公司永远布局</li>
              <li>公司当年布局</li>
              <li>公司来年布局</li>
            </ul>
          </li>
        </ul>
        <h4>
            分析内容
        </h4>
        <ul>
          <li>商业风水分析。 </li>
        </ul>
        <h4>
            须知事项
        </h4>
        <ul>
          <li>电邮、微信回覆相关问题。两周以内,会邮寄该单位风水布局副本。</li>
          <li>本服务只回答与该单位风水布局相关问题,其他问题如个人命格运势、亲友前程 、其他单位风水等等,恕不作答。  </li>
          <li>由于风水堪舆涉及各种安全因素,请出示户主合法ID,资料我方会保密。</li>
          <li>(整体面积小于1300sq.ft) 
              超过1300sq.ft,以每300sq.ft以内,加收18美金计算,以此累计。
              </li>
        </ul>
      </div>
      
    <div id="fengshuiliunian" class="mb-5">
      <p class="display-4 text-info">
          玄空飞星风水流年布局  <span class="text-danger h2">$80</span>
      </p>
      <p class="lead">玄空飞星风水流年布局  就是将生成八字赛德夫和巴拉维u部分vui阿文</p>
      <h4>
          所需资料 
      </h4>
      <ul>
        <li>将曾看过的住宅平面图及有关资料副本邮寄给我。如该单位我未看过,请选择住宅/商业风水服务。</li>
        <li>如室内佈置有所改变,请详细列明。</li>
        <li>户主及家中每个人的八字。  </li>
        <li>户外相片(如能提供更佳)</li>
        <li>有关该单位风水问题(如须特别关注,请列明。例如疾病、争吵、失眠等 )</li>
      </ul>
      <h4>
          分析内容
      </h4>
      <ul>
        <li>住宅该年佈局 </li>
      </ul>
      <h4>
          须知事项
      </h4>
      <ul>
        <li>电邮、微信回覆相关问题。两周以内,会邮寄该单位风水布局副本。</li>
        <li>本服务只回答与该单位风水布局相关问题,其他问题如个人命格运势、亲友前程 、其他单位风水等等,恕不作答。  </li>
      </ul>
    </div>
    
    <div id="putongzeri" class="mb-5">
      <p class="display-4 text-info">
          普通择日  <span class="text-danger h2">$100</span>
      </p>
      <p class="lead">普通择日  就是将生成八字赛德夫和巴拉维u部分vui阿文</p>
      <h4>
          流程 
      </h4>
      <ol>
        <li>你淮确八字(即出生、年、月、日、时。注明,新历或旧历。)</li>
        <li>告诉我你要做什么事情,我会根据你需求,帮你挑选几个吉日吉时。</li>
      </ol>
    </div>
    
    <div id="jiehunzeri" class="mb-5">
        <p class="display-4 text-info">
            结婚择日   <span class="text-danger h2">$200</span>
        </p>
        <p class="lead">结婚择日  就是将生成八字赛德夫和巴拉维u部分vui阿文</p>
        <h4>
            流程 
        </h4>
        <ol>
          <li>双方淮确八字 (即出生、年、月、日、时。注明,新历或旧历。)</li>
          <li>我会挑选最适合你们的时间,让你们顺利共结连理,减少其它障碍。</li>
        </ol>
      </div>
  <div >
</div>